<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>446647886654-tejbv8qa0o813pcja812k8e90bf26e72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446647886654-tejbv8qa0o813pcja812k8e90bf26e72</string>
	<key>API_KEY</key>
	<string>AIzaSyDBorhDUSmHUD3ed48j1OKNeFc7RpoUP0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>446647886654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.virginia.cs.cs4720.foodFinderApp</string>
	<key>PROJECT_ID</key>
	<string>food-finder-b34bb</string>
	<key>STORAGE_BUCKET</key>
	<string>food-finder-b34bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:446647886654:ios:52beb841be9cb369</string>
	<key>DATABASE_URL</key>
	<string>https://food-finder-b34bb.firebaseio.com</string>
</dict>
</plist>
